.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.gallery .locandina {
  display: block;
  border-radius: 2px;
  width: 150px;
  transition: opacity ease-in 200ms;
  margin-right: 6px;

  &:hover {
    opacity: 0.8;
  }
}

.gallery__img {
  display: block;

  img {
    margin: 0;
  }
}
