.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.gallery__img {
  cursor: pointer;
  display: block;
  width: 150px;
  height: 100%;
  border-radius: 2px;
  transition: opacity ease-in 200ms;

  img {
    margin: 0;
  }

  &:hover {
    opacity: 0.8;
  }
}
