.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.slideDown {
  animation-name: slideDown;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideUp {
  animation-name: slideUp;
}

.headroom {
  @extend .animated;
  background: $complementary;
  text-align: center;
  font-weight: lighter;
  position: fixed;
  z-index: 2000;
  right: 0;
  left: 0;
  top: 0;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  .container {
    padding: 16px;
  }
}

.headroom__title {
  color: $base;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 24px;
  text-decoration: none;

  &:hover {
    color: $light_base;
  }
}

.headroom__link {
  display: inline-block;
  color: white;
  text-decoration: none;

  &:hover {
    color: $base;
  }
}

.headroom__link:not(:last-of-type) {
  margin-right: 12px;

  &:after {
    display: inline-block;
    margin-left: 12px;
    content: '|';
    color: white;
  }
}

.main-header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  h1 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 27px;
  }

  img {
    width: 60px;
    margin-bottom: 0;
    margin-right: 24px;
  }
}

.main-header__edizione {
  font-size: 18px;
  font-weight: lighter;
  color: $light_base;
}

.main-header__subtitle {
  text-transform: uppercase;
  font-weight: lighter;
  color: $light_base;
}

body {
  margin-top: 62px;
}

.hero {
  background: black;
  background-image: none;
  color: white;

  @media screen and (min-width: 768px) {
    background-size: cover;
    background-position: center center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: url('/assets/img/hero_1200.jpg');
  }

  @media screen and (min-width: 1200px) {
    background-image: url('/assets/img/hero.jpg');
  }
}

