.lineup-singolo {
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
  padding: 16px;

  @media screen and (min-width: 768px) {
    flex: 0 0 46%;
  }

  //REMOVE
  border-radius: 2px;

  h4 {
    pointer-events: none;
    position: relative;
    font-weight: lighter;
    z-index: 10;
    display: inline-block;
    color: white;
  }

  &:nth-child(2n) {
    h4 {
      float: right;
    }

    .btn-close {
      left: 0;
      right: auto;
    }
  }
}

.lineup-singolo-band-0 {
  animation: translateTopInitial 400ms;

  h2 {
    pointer-events: none;
    color: $base;
    text-shadow: 1px 2px 1px black;
  }
}

.lineup-singolo-band-1 {
  text-align: right;
  animation: translateBottomInitial 400ms;

  h2 {
    pointer-events: none;
    color: $dark_accent;
    text-shadow: 1px 2px 1px black;
  }
}

//Band name
.lineup-singolo-name {
  display: inline-block;
  z-index: 1;
  position: relative;
}

//Description
.lineup-singolo-social {
  display: none;

  img {
    border-radius: 4px;
    margin: 0 16px 0 0;
  }
  .lineup-singolo-social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    a {
      display: block;
      text-decoration: none;
      height: 40px;
    }
  }
}

//1day full
.singolo {
  background: rgba($complementary, 0.5);
  transition: background ease-in 200ms;

  &:hover {
    background: rgba($complementary, 0.7);
  }

  h2 {
    margin: 0;
  }
}
.singolo .lineup-singolo-band-1 {
  text-align: right;
}

//Close button
.lineup-singolo .btn-close {
  display: none;
  cursor: pointer;
}

.lineup-singolo.full-first, .lineup-singolo.full-second {
  .btn-close {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
  }
}

//Animation
.lineup-singolo.full-first {
  .first-triangle {
    transform: rotate(0) scale(3);
    opacity: 1;
  }

  .lineup-singolo-band-0 {
    z-index: 10;
    animation: translateTop 400ms forwards;

    h2 {
      pointer-events: auto;
    }

    .lineup-singolo-social {
      display: flex;
      opacity: 0;
      animation: opacityFade 300ms forwards;
      animation-timing-function: ease-in;
      animation-delay: 300ms;
    }
  }

  .lineup-singolo-band-1 {
    margin-top: 63px;
    opacity: 0;
  }
}

.lineup-singolo.full-second {
  .second-triangle {
    transform: rotate(0) scale(3);
    opacity: 1;
    z-index: 1;
  }

  .lineup-singolo-band-0 {
    opacity: 0;
  }

  .lineup-singolo-band-1 {
    z-index: 10;
    animation: translateBottom 400ms forwards;

    h2 {
      pointer-events: auto;
    }

    .lineup-singolo-social {
      display: flex;
      opacity: 0;
      animation: opacityFade 300ms forwards;
      animation-timing-function: ease-in;
      animation-delay: 300ms;
    }
  }
}

@keyframes translateTop {
  0% {
    top: 30%;
    left: 16px;
    position: absolute;
    z-index: 1000;
    transform: translate3d(0, 0, 0);
  },
  100% {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 1000;
    text-align: center;
    transform: translate3d(-50%, -10%, 100px);
  }
}

@keyframes translateTopInitial {
  0% {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 1000;
    transform: translate3d(-50%, -10%, 100px);
  },
  100% {
    top: 30%;
    left: 16px;
    position: absolute;
    z-index: 1000;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes translateBottom {
  0% {
    top: 60%;
    right: 16px;
    position: absolute;
    z-index: 1000;
    transform: translate3d(0, 0, 0);
  },
  100% {
    position: absolute;
    top: 10%;
    right: 50%;
    z-index: 1000;
    text-align: center;
    transform: translate3d(50%, -10%, 100px);
  }
}

@keyframes translateBottomInitial {
  0% {
    position: absolute;
    top: 10%;
    right: 50%;
    z-index: 1000;
    transform: translate3d(50%, -10%, 100px);
  },
  100% {
    top: 60%;
    right: 16px;
    position: absolute;
    z-index: 1000;

    transform: translate3d(0, 0, 0);
  }
}

@keyframes opacityFade {
  from { opacity: 0 }, to { opacity: 1}
}
