$base: #FF8100;
$light_base: #FF9D39;
$ldark_base: #C66400;
$dark_base: #9B4E00;

$secondary: #FFB300;
$dark_secondary: #C68B00;
$light_secondary: #FFC439;

$complementary: #057D9F;
$dark_complementary: #04617B;
$light_complementary: #298AA5;

$accent: #FF2300;
$light_accent: #FF5439;
$dark_accent: #C61B00;

$black: #333;
