/* Make image responsive by default */
img {
  max-width: 100%;
}

/* All block elements get one rhythm of bottom margin. */
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
dd,
p,
figure,
pre,
table,
fieldset,
blockquote,
form,
noscript,
iframe,
img,
hr {
  margin: 0;
  margin-bottom: 1.58333rem;
  padding: 0;
}

blockquote {
  margin: 1.58333rem 3.95833rem;
}

b,
strong {
  font-weight: 700
}

hr {
  background: hsl(0,0%,80%);
  border: none;
  height: 1px;
  margin-bottom: calc(1.58333rem - 1px);
}

ol,
ul {
  list-style-position: outside;
  margin-left: 1.58333rem;
}

ul li,
ol li {
  padding-left: 0;
}

code,
kbd,
pre,
samp {
  font-size: 0.85rem;
  line-height: 1.58333rem;
}

table {
  font-size: 1rem;
  line-height: 2.375rem;
  width: 100%;
}

thead {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0,0%,20%);
  font-weight: 700;
}

h1 {
  font-size: 2.82843rem;
  line-height: 3.16667rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.375rem;
}

h3 {
  font-size: 1.41421rem;
  line-height: 2.375rem;
}

h4 {
  font-size: 1.25992rem;
  line-height: 1.58333rem;
}

h5 {
  font-size: 1.12246rem;
  line-height: 1.58333rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.58333rem;
}@media only screen and (max-width: 768px) {
h1 {
  font-size: 1.728rem;
  line-height: 2.375rem;
}

h2 {
  font-size: 1.44rem;
  line-height: 2.375rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.58333rem;
}

h4 {
  font-size: 1.12924rem;
  line-height: 1.58333rem;
}

h5 {
  font-size: 1.06266rem;
  line-height: 1.58333rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.58333rem;
}}
